---
layout: default
---

<div class="container">
    <div class="col">
    <h1>Objetivo</h1>
    <p>Este blog tem por intuito difundir os conhecimentos de foco mental, 
    para todos aqueles que são curiosos pelo saber.</p>

    <h2>Métodos de atingir o foco</h2>
    <p>Há diversas maneiras de conseguir o foco total, aqui no nosso blog citamos duas delas, meditação e os chás, 
        essas por sua vez podem ser dividas em diversas outras, que estão bem explicadas nos menus acima. 
    </p>
    <h2>Notícias semanais</h2>
    <p>Toda semana uma notícia científica sobre concentração.</p>
    <h2>Sites parceiros</h2>
    <footer>Se você concorda com os nossos ideais e quiser contribuir, favor entrar em contato através do 
        contato.</footer>
    </div>
    <div class="col_image"><img src= "{{'/assets/images/medita_gif.gif' | relative_url }}" width="100%" height="same-as-width">
    </div>
</div>
